{
    "minify": true,
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": false,
        "dynamicImport": false
      },
      "minify": {
        "compress": {
          "unused": true
        },
        "mangle": true
      },
      "target": "es2015"
    },
    "module": {
      "type": "commonjs"
    }
}